body{
    background-color: lightcyan;

}
h1{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px color(brown);
    text-align: center;
    


}
h3{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    margin: 50px;

}
.song{
margin-right: 15px; 
float: left;
align-content: center;
border: 5px solid blue; 
}
.movie{
    margin: 5px;
    margin-bottom: 50px;
    float: left;
    align-content: center;
    border: 5px solid blue; 
}   